.item-layout {
    -fx-alignment: top-center;
}

.price {
    -fx-font-size: 25;
    -fx-font-weight: bold;
    -fx-text-fill: gray;
}

.name {
    -fx-font-size: 35;
    -fx-font-family: Georgia;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

.shadow-caster {
    -fx-arc-height: 30;
    -fx-arc-width: 30;
    -fx-fill: white;
    -fx-stroke: black;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0, 4, 4);
}

.button {
    -fx-background-color: #6161ef;
    -fx-stroke: black;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 20;
    -fx-background-radius: 25;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0, 4, 4);
}

.button:hover {
    -fx-background-color: #8c8ce9;
}

.button:pressed {
    -fx-background-color: #464696;
}

.title {
    -fx-text-alignment: center;
    -fx-font-size: 40;
    -fx-font-family: Bender;
    -fx-font-weight: bold;
}

.layout {
    -fx-alignment: top-center;
    -fx-fill-width: true;
}

.buttons-bar {
    -fx-alignment: center;
    -fx-fill-width: true;
    -fx-padding: 10;
    -fx-spacing: 20;
}

.form-layout {
    -fx-alignment: center;
    -fx-fill-width: true;
    -fx-spacing: 10;
    -fx-padding: 20;
}

.input-title {
    -fx-font-size: 30;
    -fx-font-weight: bold;
}

.err {
    -fx-text-fill: red;
    -fx-font-weight: bold;
}

.table {
    -fx-alignment: center;
    -fx-padding: 10;
}

.custom-table-cell {
    -fx-font-size: 25;
}

.table-header {
    -fx-font-weight: bold;
    -fx-font-family: Gadugi;
    -fx-font-size: 25;
    -fx-text-fill: white;
    -fx-padding: 10;
    -fx-min-width: 50;
    -fx-max-width: 400;
    -fx-background-color: #6161ef;
}

.table-header:hover {
    -fx-background-color: #8c8ce9;
}

.table-header:pressed {
    -fx-background-color: #464696;
}

.cart-layout {
    -fx-alignment: top-center;
    -fx-spacing: 10;
    -fx-padding: 10;
}
